.treeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  justify-content: center;
}
.nodeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.valueContainer {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #4285f4;
  color: white;
}

.childrenContainer {
  display: flex;
  justify-content: space-between;
}
.arrow {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 16px solid black;
  position: absolute;
}