@import url('https://fonts.google.com/specimen/Roboto');

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.mainContainer {
    margin-left: 260px;
    display: flex;
    align-items: center;
    height: 10vh;
    padding-top: 30px;
}

.container > div:first-child {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #E8E8E8;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.h2 {
    padding: 10px 20px;
    background-color: var(--secondary-color);
    border: 2px solid ;
    border-radius: 10px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    font-family: 'Roboto', sans-serif;
}

.h2:hover {
    transform: scale(1.05);
}

.input,
.button {
    padding: 10px 15px;
    margin: 5px;
    border:  none;
    border-radius: 50px;
    transition: background-color 0.3s;
    font-size: 1em;
}

.input {
    width: 150px;
    border: 2px solid var(--secondary-color);
}

.button {
    background-color: var(--highlight-color);
    color: white;
    cursor: pointer;
}

.button:hover {
    background-color: var(--secondary-color);
}

.button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.array_item,
.array_item_marked {
    display: inline-block;
    border: 1px solid rgb(138, 98, 98);
    margin: 5px;
    padding: 15px 25px;
    transition: background-color 0.3s, transform 0.3s;
    background-color: rgba(233, 233, 233, 0.5);
    color: var(--text-color);
    font-size: 1.5em;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.array_item:hover, .array_item_marked:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.array_item_marked {
    background-color: var(--highlight-color);
    color: white;
}

.array_item_remove {
    animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.array_item_highlight {
    background-color: var(--secondary-color);
    transition: background-color 1s;
}

.swap-enter,
.swap-exit,
.swap-exit-active {
    position: absolute;
    transition: transform 0.3s ease-in-out;
}

.swap-enter {
    transform: translateY(100%);
}

.swap-exit-active {
    transform: translateY(-100%);
}

.arrayContainer {
    position: relative;
}

.nonEmptyValue {
    border: 1px solid var(--secondary-color);
    background-color: #f5f5f5; /* Color for non-empty values */
}

.frontIndicator {
    /*border-top: 3px solid red;*/
    position: relative;
}

.frontIndicator::before {
    content: "";
    position: absolute;
    top: -3px;  /* Move it up to cover the border */
    left: 20%;  /* Start point of the border */
    right: 20%; /* End point of the border */
    border-top: 3px solid rgb(66, 141, 238);
}

.rearIndicator {
    /*border-bottom: 3px solid blue;*/
    position: relative;
}

.rearIndicator::after {
    content: "";
    position: absolute;
    bottom: -3px; /* Move it down to cover the border */
    left: 20%;    /* Start point of the border */
    right: 20%;   /* End point of the border */
    border-bottom: 3px solid rgb(230, 68, 68);
}

.queueItemContainer {
    display: inline-block; /* makes the div inline, but also allows for block-level children */
    position: relative;    /* allows for absolute positioning of its children */
    vertical-align: middle; /* to align the items in the center vertically */
    margin: 0 5px;         /* some spacing between items for clarity */
}

